.answerChoice {
    border: 1px solid rgb(45, 255, 255);
    border-radius: 5%;
    width: 40%;
    color: black;
    text-align: center;
    margin: 10px auto;
    font-size: 20px;
    background-color: rgb(166, 255, 218);

}

img {
    max-height: 250px;
    width: auto;
}

#answerBlock {
    text-align: center;

}

#questionBlock {
    text-align: center;
    font-weight: bold;
}

#reset {
    visibility: visible;
}

body {
    background-image: url("../images/background2.jpg");
    background-size: cover;
    font-family: 'Lora', serif;
}

h1 {
    text-align: center;
    color: white;
    font-weight: bolder;
    padding: 20px;
    font-size: 45px;
}

p {
    margin: 10px;
    font-weight: bold;
    color: red;
    font-size: 20px;
}

h2,
h4 {
    margin: 30px;
    font-weight: bold;
}

.wrapper {
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.7);
    height: 625px;
    width: 60%;
    text-align: center;
}

.btn {
    position: relative;
    bottom: -50px;
    background-color: rgb(166, 255, 218);
    color: black;

}

@-ms-viewport {
    width: device-width;
}